name: GitHub Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics/github-metrics.*
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          # Options
          user: kmdkuk
          template: classic
          base: header, activity, community, repositories, metadata
          config_display: columns
          config_timezone: Asia/Tokyo
          config_hireable: yes

          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_threshold: X

          plugin_languages: yes
